$width: 400px;
$toolbar-height: 65px;

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  left: calc(100% - $width);
  width: $width;
  height: calc(100vh - $toolbar-height);
  background-color: white;
  z-index: 1000;
}

.cart-shadow {
  position: absolute;
  width: 100%;
  height: calc(100vh - $toolbar-height);
  background-color: #444444;
  opacity: 0.4;
  z-index: 900;
}

.cart {
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: #444444;
    width: 4px;
    border-radius: 12px;

  }
}

.no-items {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.purchase-container {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.buy-button {
  margin: 15px;
}

.money-count {
  margin: 15px;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}
