$toolbar-height: 75px;
mat-form-field {
  width: 20%;
}

.form-button {
  width: 20%;
  margin: 10px 0;
}

.advertisement-slogan {
  font-size: 18px;
  font-family: sans-serif;
  color: #232323;
  margin-bottom: 40px;
}

.register-form, .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - $toolbar-height);
}

.toggle-question {
  cursor: pointer;
  color: gray;
  font-size: 15px;
  font-family: sans-serif;
  &:hover {
    opacity: 0.6;
  }
}
