mat-toolbar-row {
  padding: 0 25px;
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar-button {
  background-color: transparent;
  margin: 0 10px;
  color: #d7ddff;
  &:hover {
    background-color: rgba(255,255,255,0.2);
  }
}

.mat-toolbar-row {
  height: 60px;
}

.title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
